<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Rooms List</title>
</head>
<body>
<div class="container">
    <hr>
    <h3>Rooms List</h3>
    <hr>
    <a th:href="@{/rooms/showFormForAdd/{Id}(Id=${hotelId})}" class="btn btn-primary btn-sm mb-3"> Add Room </a>
    <hr>
    <table class="table table-bordered table-striped" >
        <thead class="thead-dark">
        <th>Room No </th>
        <th> Floor No </th>
        <th style="text-align:center">Action</th>
        </thead>
        <tbody>
        <tr th:each="theRoom: ${hotelRooms}">
            <td th:text="${theRoom.roomNo}"/>
            <td th:text="${theRoom.floorNo}"/>
            <td style="text-align:center">
                <a th:href="@{/rooms/showFormForUpdate(roomId=${theRoom.roomId},hotelId=${hotelId})}" class="btn btn-info btn-sm">Update</a>&nbsp;
                <a th:href="@{/rooms/deleteById(roomId=${theRoom.roomId},hotelId=${hotelId})}" class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are you sure you wanna delete this room?'))) return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <a th:href="@{/hotels/showAll}" class="btn btn-danger btn-sm">Go Back to Hotels</a>
</div>
</body>
</html>